@{
    Layout = "~/Views/Shared/_EmployeeDetails.cshtml";
    ViewData["Title"] = "LandPage";
}

<link rel="stylesheet" href="~/css/Details.css" asp-append-version="true" />


<div class="text-box">

  <h1>World's best Banking System </h1> 

    <p>Your trusted partner in financial excellence.</p>
    <a href="" class="hero-btn"> Visit us to know more </a>

</div>