@model Project.Domain.Entities.Login

@{
    Layout = "~/Views/Shared/_LayouForIncshtml.cshtml";
    ViewData["Title"] = "LandPage";
}

<link rel="stylesheet" href="~/css/Register.css" asp-append-version="true" />

<div class="container">

    <div class="left">
        <h2>Hello!</h2>
    </div>

    <div class="right">

        <form asp-action="RegisterView" method="post">

            <h2>Register</h2>

            <label>USERNAME</label>
            <input type="text" name="name" class="form-control" required />

            <label>PASSWORD</label>
            <input type="password" name="password" class="form-control" required />

            <label>EMAIL</label>
            <input type="email" name="email" class="form-control" required />

            <button type="submit" class="btn mt-3">SIGN IN</button>

        </form>

    </div>

</div>
